.marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    font-weight: bolder;
    animation: scroll 10s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    gap: var(--gap);
    min-width: 100%;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.tape {
    transform: rotate(-60deg)
}

.tape-peek {
    animation: peek 0.4s linear;
}

@keyframes peek {
    0%{

    }
    40%{
        top: -1.6rem
    }
    100%{

    }
}

.tape-drop {
    animation: drop 0.4s ease-in-out forwards;
}

@keyframes drop {
    0%{

    }
    
    100%{
        top: 15rem;
        transform: rotate(100deg)
    }
}